{{> header}}
{{> navbar}}

<div class="row">
    <div class="col-4">
        <h1>
            PERRO BONITO
        </h1>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id ullam modi ut rerum voluptates ipsa dolore animi vero nostrum soluta accusantium, alias magnam porro praesentium quidem. Perferendis labore quod eius!
        </p>
    </div>

    <div class="col-8">
        <img src="./assets/images/perroBeer.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}